@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600&family=Mate&family=Poppins:wght@400;500;600&display=swap');

:root{
    --raiva:linear-gradient(#fd8d58, #dc611e);
    --tedio: linear-gradient(#7e7770, #010101);
    --fofo: linear-gradient(#953efff7, #5f04ce);
    --coracao: linear-gradient(#ff33e0f7, #ad0093);
    --beijo: linear-gradient(#ff3e3efc, #ff3e3efc);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: var(--raiva);
}

.wrapper{
    background: #f6f6f6;
    padding: 30px 40px;
    border-radius: 10px;
    max-width: 350px;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.wrapper .section{
    height: 150px;
    width: 150px;
    overflow: hidden;
}

.section .emojis{
    height: 500%;
    display: flex;
    flex-direction: column;
}

.section .emojis li{
    list-style: none;
    height: 20%;
    width: 100%;
    transition: all 0.3s ease;
}

.section .emojis li{
    list-style-type: none;
}

.section .emojis li img{
    height: 100%;
    width: 100%;
}

.wrapper .slider{
    height: 12px;
    width: 100%;
    background: #d9d9d9;
    margin-top: 40px;
    position: relative;
    border-radius: 50px;
}

.slider input{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    outline: none;
    -webkit-appearance: none;
    background: none;
}

.slider input::-webkit-slider-thumb{
    height: 25px;
    width: 25px;
    -webkit-appearance: none;
    background: none;
    cursor: pointer;
}

.slider .progress-bar{
    height: 100%;
    width: 0%;
    background: var(--raiva);
    border-radius: 50px;
}

.slider .thumb{
    height: 25px;
    width: 25px;
    background: var(--raiva);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: none;
    transform: translate(-50%, -50%);
    padding: 2px;
    pointer-events: none;
}

.slider .thumb span{
    display: block;
    height: 100%;
    width: 100%;
    background: var(--raiva);
    border: 2px solid #f6f6f6;
    border-radius: 50%;
}